@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif JP'), local('NotoSerifJP-Regular'), url(https://fonts.gstatic.com/s/notoserifjp/v6/xn7mYHs72GKoTvER4Gn3b5eMbNmuYA.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif KR'), local('NotoSerifKR-Regular'), url(https://fonts.gstatic.com/s/notoserifkr/v5/3Jn7SDn90Gmq2mr3blnHaTZXRudj1g.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: 'Noto Serif JP', sans-serif;
}
h2 {
  font-size: 32px;
}
p,
a {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: inherit;
  color: inherit;
}
a.active {
  color: #f39c12;
}
.newsfeed-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fff;
}
.newsfeed-header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 3px solid #222;
  padding-bottom: 5px;
}
.newsfeed-header .header-wrapper .newsfeed-title {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.newsfeed-header .header-wrapper .hamburger:hover {
  cursor: pointer;
}
.newsfeed-header .header-wrapper .hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #222;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
.newsfeed-header nav {
  display: none;
}
.newsfeed-header nav .menu {
  padding: 0;
  margin-top: 40px;
}
.newsfeed-header nav .menu li {
  list-style: none;
  font-size: 24px;
  margin: 8px 0;
}
.newsfeed-header nav .menu li a {
  padding-right: 20px;
}
.newsfeed-header.open nav.mobile {
  display: block;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
}
.newsfeed-header.open .hamburger span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.newsfeed-header.open .hamburger span:nth-child(2) {
  opacity: 0;
}
.newsfeed-header.open .hamburger span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.content-wrapper {
  width: 100%;
}
.content-wrapper .content .publisher h2 {
  text-align: center;
  margin: 5% 0;
}
.content-wrapper .content .publisher .article-wrapper-link {
  color: inherit;
  text-decoration: inherit;
}
.content-wrapper .content .publisher .article-wrapper-link .article-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;
}
.content-wrapper .content .publisher .article-wrapper-link .article-wrapper .article-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.content-wrapper .content .publisher .article-wrapper-link .article-wrapper .article-info .article-title {
  font-family: 'Noto Serif KR', sans-serif;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 24px;
  margin: 0;
}
.content-wrapper .content .publisher .article-wrapper-link .article-wrapper .article-info .article-description {
  font-size: 18px;
  margin-top: 10px;
}
.content-wrapper .content .publisher .article-wrapper-link .article-wrapper .article-image-container .article-image {
  width: 100%;
}
.standings {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.standings .match {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.standings .match .team {
  flex: 3;
}
.standings .match .team.home {
  text-align: right;
}
.standings .match .team.away {
  text-align: left;
}
.standings .match .results {
  flex: 1;
  text-align: center;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
  .newsfeed-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: baseline;
  }
  .newsfeed-header:after {
    content: "";
    display: block;
    border-bottom: 2px solid #222;
  }
  .newsfeed-header .newsfeed-title {
    font-family: 'Roboto', sans-serif;
    margin: revert;
  }
  .newsfeed-header .hamburger {
    display: none;
  }
  .newsfeed-header nav.desktop {
    display: block;
  }
  .newsfeed-header nav.mobile {
    display: none;
  }
  .newsfeed-header nav .menu {
    display: flex;
    flex-direction: row;
    padding: revert;
    margin: 0;
  }
  .newsfeed-header nav .menu li {
    list-style: none;
    font-size: 16px;
  }
  .newsfeed-header nav .menu li a {
    padding: 0 10px;
  }
  .newsfeed-header.open nav {
    display: block;
    height: unset;
  }
  .content-wrapper .content {
    width: 90%;
    margin: 0 auto;
  }
  .content-wrapper .content .publisher h2 {
    text-align: center;
    color: #686868;
    border-bottom: 1px solid #686868;
    padding: 8px 0;
  }
  .content-wrapper .content .publisher .article-list {
    display: flex;
    flex-wrap: wrap;
  }
  .content-wrapper .content .publisher .article-list .article-wrapper-link {
    flex-basis: 100%;
  }
  .content-wrapper .content .publisher .article-list .article-wrapper-link.no-image {
    flex-basis: 50%;
  }
  .content-wrapper .content .publisher .article-list .article-wrapper-link .article-wrapper {
    flex-direction: row;
  }
  .content-wrapper .content .publisher .article-list .article-wrapper-link .article-wrapper .article-info {
    flex: 1;
    padding: 0 20px 0 0;
  }
  .content-wrapper .content .publisher .article-list .article-wrapper-link .article-wrapper .article-info .article-title {
    margin: revert;
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 3px solid #222;
  }
  .content-wrapper .content .publisher .article-list .article-wrapper-link .article-wrapper .article-info .article-description {
    font-size: 16px;
    margin: revert;
  }
  .content-wrapper .content .publisher .article-list .article-wrapper-link .article-wrapper .article-image-container {
    flex: 1.5;
    padding: 0 0 0 20px;
  }
  .content-wrapper .content .standings {
    width: 50%;
  }
}
.loading-state {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-state .loading-statement span {
  opacity: 0;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.loading-state .loading-statement span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-state .loading-statement span:nth-child(3) {
  animation-delay: 0.4s;
}
.loading-state .spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
  margin-bottom: 0;
}
.loading-state .double-bounce1,
.loading-state .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.loading-state .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
