@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif+KR|Roboto');

@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";
@laptops: ~"only screen and (min-width: 1200px) and (max-width: 1600px)";


body {
  margin: 0;
}

h1,h2,h3 {
  font-family: 'Noto Serif JP', sans-serif;
}

h2 {
  font-size: 32px;
}

p,a {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
  &.active {
    color: #f39c12;
  }
}

.newsfeed-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  
  .newsfeed-title {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  .menu {
    display: flex;
    flex-direction: row;
    padding: 0;

    li {
      list-style: none;

      a {
        padding-right: 20px;
      }
    }
  }  
}

.content-wrapper {
  width: 100%;

  .content {

    .publisher {
      h2 {
        text-align: center;
        margin: 5% 0;
      }

      .article-wrapper-link {
        color: inherit;
        text-decoration: inherit;

        .article-wrapper {
          display: flex;
          flex-direction: column-reverse;
          margin-bottom: 50px;

          .article-info {
            display: flex;
            flex-direction: column;
            padding: 20px;

            .article-title {
              font-family: 'Noto Serif KR', sans-serif;
              font-family: 'Noto Serif JP', sans-serif;
              font-size: 24px;
              margin: 0;
            }
            
            .article-description {
              font-size: 18px;
              margin-top: 10px;
            }
          }
    
          .article-image-container {

            .article-image {
              width: 100%;
            }
          }
        }
      }  
    }
  }
}

.standings {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .match {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .team {
      flex: 3;
      &.home {
        text-align: right;
      }
      &.away {
        text-align: left;
      }
    }
    .results {
      flex: 1;
      text-align: center;
    }
  }
}

@media @laptops {

  .newsfeed-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px 50px 20px;
    padding: revert;
    
    .newsfeed-title {
      font-family: 'Roboto', sans-serif;
      margin: revert;
    }
    .menu {
      display: flex;
      flex-direction: row;
      padding: revert;
  
      li {
        list-style: none;
  
        a {
          padding: 0 10px;
        }
      }
    }  
  }
  
  .content-wrapper {
  
    .content {
      width: 90%;
      // max-width: 900px;
      margin: 0 auto;

      .publisher {
        h2 {
          text-align: center;
          margin: 5% 0;
          span {
            display: inline-block;
            position: relative;  
            &:before, &:after {
              content: "";
              position: absolute;
              height: 0px;
              border-bottom: 1px solid black;
              border-top: 1px solid black;
              top: 50%;
              width: 200px;
            }
            &:before {
              right: 100%;
              margin-right: 15px;
            }
            &:after {
              left: 100%;
              margin-left: 15px;
            }
          }
        }

        .article-list {
          display: flex;
          flex-wrap: wrap;
    
          .article-wrapper-link {
            flex-basis: 100%;
            &.no-image {
              flex-basis: 50%;
            }
      
            .article-wrapper {
              flex-direction: row;
      
              .article-info {
                flex: 1;
                padding: 0 20px 0 0;
      
                .article-title {
                  margin: revert;
                  margin-top: 0;
                  padding-bottom: 15px;
                  border-bottom: 3px solid #222;
                }
                
                .article-description {
                  font-size: 16px;
                  margin: revert;
                }
              }
        
              .article-image-container {
                flex: 1.5;
                padding: 0 0 0 20px;
  
                .article-image {
                }
              }
            }
          }  
        }
      }
      .standings {
        width: 50%;
      }
    }
  } 
}

.loading-state{
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-statement {
    span {
      opacity: 0;
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      &:nth-child(2) {
        animation-delay: .2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
  .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
    margin-bottom: 0;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}