@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif+KR|Roboto');

@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";
@laptops: ~"only screen and (min-width: 1200px) and (max-width: 1600px)";


body {
  margin: 0;
}

h1,h2,h3 {
  font-family: 'Noto Serif JP', sans-serif;
}

p,a {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.newsfeed-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px 50px 20px;
  
  .newsfeed-title {
    font-family: 'Roboto', sans-serif;
  }
  .menu {
    display: flex;
    flex-direction: row;

    li {
      list-style: none;

      a {
        padding: 0 10px;
      }
    }
  }  
}

.content-wrapper {
  width: 100%;

  .content {

    .article-wrapper-link {
      color: inherit;
      text-decoration: inherit;

      .article-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;

        .article-info {
          display: flex;
          flex-direction: column;
          padding: 20px;

          .article-title {
            font-family: 'Noto Serif KR', sans-serif;
            font-family: 'Noto Serif JP', sans-serif;
            font-size: 24px;
            margin: 0;
          }
          
          .article-description {
            font-size: 18px;
            margin-top: 10px;
          }
        }
  
        .article-image-container {

          .article-image {
            width: 100%;
          }
        }
      }
    }  
  }
}

.video {
  width: 100%;
  h2 {
    padding: 0 5%;
  }
  .video-player {
    .video-react {
      outline: 0;
    }
  }
}

@media @laptops {

  .newsfeed-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px 50px 20px;
    
    .newsfeed-title {
      font-family: 'Roboto', sans-serif;
    }
    .menu {
      display: flex;
      flex-direction: row;
  
      li {
        list-style: none;
  
        a {
          padding: 0 10px;
        }
      }
    }  
  }
  
  .content-wrapper {
  
    .content {
      width: 90%;
      // max-width: 900px;
      margin: 0 auto;
  
      .article-wrapper-link {
  
        .article-wrapper {
          flex-direction: row;
  
          .article-info {
            flex: 1;
            padding: 0 20px;
  
            .article-title {
              margin: inherit;
              margin-top: 0;
              padding-bottom: 15px;
              border-bottom: 3px solid #222;
            }
            
            .article-description {
              font-size: 16px;
              margin: inherit;
            }
          }
    
          .article-image-container {
            flex: 1.5;
            padding: 0 20px;
  
            .article-image {
            }
          }
        }
      }  
    }
  }
  
  .video {
    width: 80%;
    margin: 0 auto;
    .video-react {
    }
  }
  
}